.notificationContainer {
  border-radius: 16px;
  border: 2px;
  border-color: green;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notificationErrorContainer {
  border-radius: 16px;
  border: 2px;
  border-color: red;
  border-style: solid;
  padding: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notificationText {
  font-size: 14;
  font-style: normal;
  color: green;
}

.notificationErrorText {
  font-size: 14;
  font-style: normal;
  color: red;
}
